attrs
coverage
databroker
doct
doctr
ipython
ipywidgets
jinja2
lmfit
matplotlib
mongoquery
networkx
nose
numpydoc
ophyd
pandas
pims
pyepics
pytest
pyyaml
requests
sphinx
sphinx_rtd_theme
tifffile
zmq
