attrs
cloudpickle
coverage
databroker
doct
doctr
ipython
ipywidgets
jinja2
lmfit
matplotlib != 3.0.1  # bug in scatter method
mongoquery
networkx
nose
numpydoc
ophyd
pandas
pims
pyepics
pyqt5
pytest
pytest-faulthandler
pyyaml
pyzmq
requests
sphinx==1.6.4
sphinx_rtd_theme
streamz
tifffile
