attrs
coverage
databroker
doct
doctr
ipython
ipywidgets
jinja2
lmfit
matplotlib
mongoquery
networkx
nose
numpydoc
ophyd
pandas
pims
pyepics
pytest
pyyaml
pyzmq==16.0.4
requests
streamz
sphinx==1.6.4
sphinx_rtd_theme
tifffile
