include bluesky/_version.py
recursive-include doc/source *
include doc/Makefile doc/make.bat
include LICENSE
include MANIFEST.in
include README.md
include requirements.txt
include setup.py
include versioneer.py
include bluesky/py.typed
