cycler
event-model@git+https://github.com/evalott100/event-model.git@fix_off_by_one_correction
historydict
msgpack
msgpack-numpy
numpy
super_state_machine
toolz
tqdm>=4.44
typing-extensions;python_version<'3.8'
dataclasses;python_version<'3.7'
zict
