cycler
event-model@git+https://github.com/bluesky/event-model.git@main
historydict
msgpack
msgpack-numpy
numpy
super_state_machine
toolz
tqdm>=4.44
typing-extensions
dataclasses;python_version<'3.7'
zict<3.0.0
