attrs
coverage
dill
doct
ipython
jinja2
lmfit
matplotlib
mongoquery
networkx
nose
ophyd
pandas
pims
pyepics
pytest
pyyaml
requests
tifffile
zmq
git+https://github.com/NSLS-II/databroker#egg=databroker
git+https://github.com/NSLS-II/filestore#egg=filestore
git+https://github.com/NSLS-II/metadatastore#egg=metadatastore
git+https://github.com/NSLS-II/portable-mds#egg=portable_mds
