attrs
coverage
databroker
doct
ipython
jinja2
lmfit
matplotlib
mongoquery
networkx
nose
git+git://github.com/NSLS-II/ophyd.git@master#egg=ophyd
pandas
pims
pyepics
pytest
pyyaml
requests
tifffile
zmq
